.dropdown-countries {
  overflow-y: auto;
  max-height: 200px;
  border: 1px solid black;
}

mat-form-field {
  width: 100%;
}


.selected-country {
  padding: 1%;
}

.selected-country:hover {
  cursor: pointer;
  background-color: lightblue;
}
